*~
__pycache__
amr-release-3.0-amrs-training-wiki.txt
metamorphosed/gui/lib/jquery*
*.txt.2
tmp
amr3-training-all.txt
.tox
.coverage
VENV
*verbalconcepts*
relations-list.txt
rels.pdf
build/
metamorphosed.egg-info/
dist/
*.zip
tools
