# This includes data files for the source distribution only (sdist), it does not
# impact the binary distribution (bdist_wheel). To add data files to the binary
# distribution add package_data in setup.py

include metamorphosed/gui/*
